@import url('base/variables.css');
@import url('base/reset.css');
@import url('layout/layout.css');
@import url('components/header.css');
@import url('components/hero.css');
@import url('components/filters.css');
@import url('components/movie-card.css');
@import url('components/modal.css');
@import url('components/footer.css');