/* .container-1 {
display: grid;
grid-template-columns: 1fr 1fr 1fr; 
grid-template-rows: 100px 100px;
gap: 10px;
} */
/* .container-2 {
display: grid;
grid-template-columns: 150px 1fr 2fr;
gap: 15px;
} */
/* .container-3 {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 100px 100px;
gap: 10px;
}

.item-a {
grid-column: 2;
grid-row: 1;
} */
/* .container-4 {
display: grid;
grid-template-columns: 2fr 1fr;
gap: 10px;
}

header {
grid-column: 1 / 3; 
}

footer {
grid-column: 1 / span 2; 
} */
.container-6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 150px;
    justify-items: center; /* Gorizontal tekislash */
    align-items: end;       /* Vertikal tekislash */
    gap: 10px;
}

.container-6 .item:nth-child(3) {
    align-self: stretch; /* Muayyan element uchun qayta belgilash */
}



